# Data manipulation and analysis
pandas==2.0.0
numpy==1.24.0

# Visualization
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.14.1

# Machine learning
scikit-learn==1.2.2
yellowbrick==1.5

# Jupyter environment
jupyter==1.0.0
ipykernel==6.22.0